.cell{
    height: 20px;
    width: 20px;
    border: 1px solid gray;
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: center;
}

.path{
    background-color: skyblue;
}

.startCell{
    background-color: lightgreen;
}
.endCell{
    background-color: red;
}

.btn-container{
    text-align: center;
    margin-top: 20px;
}

.reset-btn{
    padding: 8px 40px;
    background-color: lightblue;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.cell-container-indic{
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-left: 40px;
}

h1{
    text-align: center;
    color: blueviolet;
}

h3{
    margin-left: 20px;
}